In [1]:
import numpy as np
import pandas as pd

# Series

In [2]:
# help(pd.series)

In [6]:
myindex = ['USA', 'Canada', 'Mexico']

In [7]:
mydata = [1776, 1867, 1821]

In [10]:
myser = pd.Series(data=mydata, index=myindex)

In [11]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [12]:
myser[0]

/tmp/ipykernel_5483/3030946548.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myser[0]

1776

In [13]:
myser['USA']

1776

Create a Series from a dictionary

In [14]:
ages = {'Sam': 5, 'Frank': 10, 'Spike': 7}

pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [15]:
# Imaginary sales data for 1st & 2nd quarters for companies
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [16]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [17]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [18]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [19]:
sales_q1['Japan']

80

In [20]:
sales_q1.iloc[0]

80

In [21]:
sales_q1.loc['Japan']

80

In [22]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [23]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [24]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [25]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [27]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64